/* css/_base.css */

/* Regla de Box Model esencial para la estabilidad de Grid */
*, *::before, *::after {
  box-sizing: border-box; 
}

body {
  font-family:'IBM Plex Sans', Arial, sans-serif;
  margin: 0;
  background: #f7f7f7;
  padding:0;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/fonts/IBMPlexSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: normal;
}